html {
    overflow-y: scroll;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow-y: visible;
    scrollbar-gutter: stable; /* houdt ruimte voor scrollbar vrij */
}

/* Header */
header {
    background-color: #0078d4;
    color: white;
    padding: 15px;
    padding-bottom: 15px;
    text-align: center;
    position: fixed;
    height: 70px;
    top: 0;          
    left: 0;       
    right: 0;        
    z-index: 1000;   /* voorkomt overlap */
}

/* Layout */
.container {
    display: flex;
    height: calc(100vh - 60px);
}

/* Sidebar */
.sidebar {
    width: 220px;
    background-color: #f4f4f4;
    border-right: 1px solid #ddd;
    padding-top: 20px;
    height: calc(100vh - 70px); 
    position: fixed; /* sidebar blijft staan */
    top: 70px;         /* sidebar begint onder header */
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li a {
    display: block;
    padding: 12px 20px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.sidebar li a:hover {
    background-color: #e0e0e0;
}

/* Content */
#content {
    padding: 20px; 
    padding-top: 90px; /* ruimte voor header */
    flex: 1;
    margin-left: 220px; /*content moet opschuiven omdat sidebar nu blijft staan*/
}

/* URL's */
a {
    color: #0078d7;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* figuren */
.figuur {
    max-width: 40%;          /* afbeelding schaalt mooi mee */
    border: 1px solid #ddd;   /* subtiel kader */
    border-radius: 8px;       /* afgeronde hoeken */
    padding: 10px;            /* ruimte rond de afbeelding */
    background-color: #f9f9f9;/* lichte achtergrond */
    margin: 20px 0;           /* ruimte boven en onder */
    box-shadow: 0 2px 6px rgba(0,0,0,0.1); /* zachte schaduw */
    display: block;
}

/* footer */
footer {
    color: #777;     /* tekst in het grijs */
    font-size: 0.85rem;
    padding: 15px 20px;
    text-align: right;           /* tekst naar rechts */
}